<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('config')
    ->exclude('public')
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'              => true,
        '@Symfony:risky'        => true,
        '@PSR2'                 => true,
        '@DoctrineAnnotation'   => true,
        'declare_strict_types'  => true,
        'array_syntax'          => [
            'syntax'    => 'short'
        ],
        'list_syntax'           => [
            'syntax'    => 'short',
        ],
        'mb_str_functions'      => true,
        'method_chaining_indentation'   => true,
        'no_useless_else'   => true,
        'no_useless_return' => true,
        'no_superfluous_phpdoc_tags'    => false,
        'phpdoc_no_empty_return' => false,
        'phpdoc_no_package' => true,
        'phpdoc_order' => true,
        'psr0'  => true,
        'psr4' => true,
        'strict_comparison' => true,
        'void_return' => true,
    ])
    ->setFinder($finder)
;
